<div class="bg-[#00D64C] items-center justify-center flex pt-12 text-[#008932]">
  <div class="w-full max-w-lg pt-5 pb-16 px-10 text-sm">
    By entering and clicking Continue, you agree to the
    <a
      class="underline"
      href="https://cash.app/legal/us/en-us/tos"
      target="_blank">Terms</a
    >,
    <a
      class="underline"
      href="https://cash.app/legal/us/en-us/sign"
      target="_blank">E-Sign Consent</a
    >, &
    <a
      class="underline"
      href="https://cash.app/legal/us/en-us/privacy"
      target="_blank">Privacy Policy.</a
    >
    <br />
    <br />
    Banking services provided by Cash App’s bank partners. Prepaid debit cards issued
    by Sutton Bank, Member FDIC. Brokerage services by Cash App Investing LLC, member
    FINRA, subsidiary of Block, Inc formerly known as Square, Inc. Bitcoin services
    by Block, Inc. Cash App Investing does not trade bitcoin and Block, Inc. is not
    a member of FINRA or SIPC. Tax filing services by Cash App Taxes, Inc. <a
      class="underline"
      href="https://cash.app/legal">Disclosures</a
    >
  </div>
</div>
